html,
body {
	height: 100%;
	background: #242933;
	color: #f6f0e9;
}

._container {
	max-width: 1045px;
	padding: 0 30px;
	margin: 0 auto;
	box-sizing: content-box;
}

.header {
}
.header__container {
}
.header__content {
}

.main {
}
.main__container {
}
.main__content {
}
.main__my-name {
}
.main__vacancy-name {
}

.footer {
}
.footer__container {
}
.footer__content {
}
.footer__copyright {
}
