*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  background: #242933;
  color: #f6f0e9;
  font-family: 'Gotham Pro', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 30px 0;
}

.header__content {
  font-size: 1.5rem;
}

._container {
  max-width: 1045px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main > *:not(:first-child) {
  padding-top: 50px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 0 0;
}

.info__content {
  margin: -30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info__content > * {
  margin: 30px;
}

.info__my-name {
  font-size: 4rem;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.info__my-name:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

@media (max-width: 500px) {
  .info__my-name {
    font-size: 2rem;
  }
}

.info__vacancy {
  font-size: 3rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__vacancy-name-general {
  -webkit-transition: text-shadow 0.1s ease-in;
  transition: text-shadow 0.1s ease-in;
}

.info__vacancy-name-general:hover {
  text-shadow: 0 0 2rem #f6f0e9;
}

@media (max-width: 500px) {
  .info__vacancy-name-general {
    font-size: 2.5rem;
  }
}

@media (max-width: 410px) {
  .info__vacancy-name-general {
    font-size: 1.8rem;
  }
}

.info__vacancy-name-local {
  font-weight: 800;
  max-width: 50%;
  color: #ec4c56;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  -webkit-transition: text-shadow 0.1s ease-in;
  transition: text-shadow 0.1s ease-in;
}

.info__vacancy-name-local:hover {
  text-shadow: 0 0 2rem #ec4c56;
}

@media (max-width: 830px) {
  .info__vacancy-name-local {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .info__vacancy-name-local {
    font-size: 2.5rem;
  }
}

@media (max-width: 410px) {
  .info__vacancy-name-local {
    font-size: 1.8rem;
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 30px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none {
  display: none;
}
